{{'custom-modal.css' | asset_url | stylesheet_tag }}  {% comment %} scss {% endcomment %}

<div id="manage-plan-modal" class="modal">
  <div class="modal-content">
      <span class="close-button">×</span>
      <h2><ly-as-1336866>Manage Plan</ly-as-1336866></h2>
      <p><ly-as-1336867>If you already have enough products at home, you can reschedule your next renewal and keep your susbcription active, to get your future free gifts along the way!</ly-as-1336867></p>
      <div class="buttons">
        <a id="reschedule-btn" class="btn w-full"><ly-as-1336868>Reschedule</ly-as-1336868></a>
        <a id="pause-btn" class="btn w-full outline"><ly-as-1336869>Pause</ly-as-1336869></a>
        <a id="cancel-btn" class="link w-full"><ly-as-1336870>Cancel subscription</ly-as-1336870></a>
      </div>
  </div>
</div>