{%- liquid
  assign media_class = 'media-style '
-%}

<section class="text_column_with_images_top relative text-scheme-text smth-img-background  relative overflow-hidden" >

  <div class="section-content relative z-10 py-section-vertical-spacing" style="padding-top: 0px">
      {%- if section.settings.image != blank -%}
        <div class="smth_scroll-background" actualheight="212px" actualwidth="1110px" actualmaxheight="none" actualmaxwidth="none" actualminheight="0px" actualminwidth="0px" windowheight="700">
        </div>
      {%- endif -%}
  </div>  
</section>
<style>
  .smth-img-background{
    background-color: #f8f0e4;
  }
  @keyframes moveSlide{
    0%{background-position:0}to{background-position:-1200px}
  }  
  .smth_scroll-background{
    width: 100%;
    height: 282px;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    background-size: auto 100%;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: moveSlide;
    background-image: url({{ section.settings.image | image_url: width: 2000}});
  }
  @media (max-width: 1500px){
    .smth_scroll-background {
        height: 212px;
    }


/*   .pdp_scroll-background .pdp_scroll-background__inner{
    width:100%;height:282px;top:0;left:0;background-repeat:repeat-x;background-size:auto 100%;animation:moveSlide 50s linear infinite;background-image:url(//cdn.shopify.com/s/files/1/0031/8101/9185/files/obvicheckoutcarousel.jpg?v=1634682065)}@media (max-width: 1500px){.pdp_scroll-background .pdp_scroll-background__inner{height:212px}}pdp_meta-section{display:block;width:100%;object-fit:cover}
  .pdp_meta-section_desktop{display:block;width:100%;object-fit:cover;margin-top:-6px}
  } */
</style>

{% schema %}
{
  "name": "smooth scroll image",
  "class": "text_column_shapes",
  "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
  ],
  "presets": [
    {
      "name": "smooth scroll image"
    }
  ]
}
{% endschema %}
