[data-section-type="text-cilumns-width-images"] {
  .section-content {
    .content {
      max-width: 900px;
      margin: auto;
      margin-top: 30px;
      p {
        line-height: 27px;
        text-align: center;
      }
    }
  }
}