

.product-video-carousel {
  text-align: center;
  h3 {
    max-width: initial;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
    line-height: 39px;
    font-family: Gelica Bk/*!important*/;
    &.large-hide {
      display: none;
    }
  }
  h4 {
    font-size: 21px;
    margin-bottom: 15px;
  }
  h5 {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    .review-star {
      color: #fecb28;
      padding-left: 8px;
      font-size: 22px;
    }
  }
  p {
    max-width: 500px;
    margin: 20px auto;
  }
  .inner_product-video-carousel {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      margin: 0 -10px;
    }
    .slick-arrow {
      font-size: 21px;
      color: #000;
    }
    .product-video-box {
      margin: 0 10px;
      position: relative;
      display: flex !important;
      justify-content: center;
      align-items:center;
      border-radius: 10px;
      overflow: hidden;
      @media screen and (max-width: 768px) {
        width: calc(50% - 20px);
        margin-bottom: 20px;
      }
      img {
        border-radius: 10px;
      }
      figure {
        position: relative;
        display: block;
        img {
          width: 100%;
        }
      }
      .fa-circle-play {
        z-index: 9;
        top: calc(50% - 25px);
        font-size: 51px;
        position: absolute;
        text-align: center;
        background: #fff;
        border-radius: 100px;
        left: 0;
        right: 0;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    max-width: initial;
    padding: 40px 20px;
    h3 {
      max-width: 300px;
      margin: auto;
      margin-bottom: 10px;
      &.small-hide {
        display: none;
      }
      &.large-hide {
        display: block;
      }
    }
    .video_container {
      margin: 0 -10px;
      width: calc(100% + 20px);
    }
  }
}

.video-swiper-carousel-container {
  .fa-circle-play {
    z-index: 9;
    top: calc(50% - 25px);
    font-size: 51px;
    position: absolute;
    text-align: center;
    background: #fff;
    border-radius: 100px;
    left: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}