

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 99999;
}
.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 30px 50px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  border-radius: 0;
  color: #373574;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.5s;
  transition-delay: 0.5s;
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 20px;
    margin: 20px 0;
  }
  .buttons {
    max-width: 250px;
    margin: 40px auto 20px;
    .btn {
      background: #544FA8;
      color: white;
      margin-bottom: 10px;
      &.outline {
        color: #373574;
        background: transparent;
        outline-width: 1px;
      }
    }
    .link {
      margin-top: 50px;
      display: inline-block;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
  position: absolute;
  right: 10px;
  top: 10px;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0.25s 0s;
  .modal-content {
    transform: translateX(0);
  }
}