.search-container-saturn {
  margin: 60px 20px 0 20px;
}
.search-bar-saturn {
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid black;
  max-width: 600px;
  width: 100%;
  text-align: center;
}