.hidden {
    display: none;
}
.lsg-bundle-block input[type="number"]::-webkit-inner-spin-button,
.lsg-bundle-block input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.lsg-bundle-block input[type="number"] {
    -moz-appearance: textfield;
}
.lsg-bundle-block {
    display: flex;
    max-width: 1320px;
    margin: auto;
    justify-content: space-between;
    padding: 50px 0 80px;
}
.lsg-bundle-block:not(.lsg-bundle-block-active) {
    display: none;
}
.lsg-bundle-buybox-block {
    width: 51%;
    padding: 0 20px;
}
.lsg-bundle-summary-block {
    width: 43%;
    padding: 0 20px;
}
.lsg-bundle-buybox-product-info {
    margin-bottom: 1rem;
}
.lsg-bundle-buybox-product-rating {
    display: flex;
}
.lsg-bundle-product-otp-list,
.lsg-bundle-product-sub-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
}
.lsg-bundle-product-select-wrapper {
    width: 143px;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.lsg-bundle-product-select-img-wrap {
    background: #ddd;
    border-radius: 4px;
    overflow: hidden;
    height: 0;
    padding-bottom: 90%;
    position: relative;
}
.lsg-bundle-product-select-img-wrap img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.lsg-bundle-product-select-title {
    font-family: var(--font-head-font);
    font-size: 10px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    flex-grow: 1;
}
.lsg-bundle-product-select-quantity-wrap {
    display: flex;
}
.lsg-bundle-product-select-quantity-input,
.lsg-bundle-product-select-quantity-input-display {
    background: none;
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    font-family: inherit;
}
button:not([disabled]) {
    cursor: pointer;
}
.lsg-hidden {
    display: none !important;
}
.lsg-bundle-frequency-heading {
    color: #212121;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: .5rem;
}
.lsg-bundle-interval-select-inner {
    margin-bottom: 20px;
    padding: 0;
}
.lsg-bundle-interval-select-pod-top {
    display: flex;
    flex-direction: column;
}
.lsg-bundle-interval-el {
    --label-color: #212121;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
    color: var(--label-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    gap: 8px;
    padding: 2px 16px 2px 32px;
    flex-grow: 1;
}
.lsg-bundle-interval-el:before {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    content: '';
    border: 1px solid #555;
}
.lsg-bundle-interval-el:after {
    content: '';
    display: block;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0,-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-interval-el[for^="bundleIntervalSelectOTP_"]:after,
.lsg-bundle-block.lsg-bundle--sub-selected .lsg-bundle-interval-el[for^="bundleIntervalSelectSub_"]:after {
    background-color: #555;
}
.lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-interval-select-pod-bottom {
    display: none;
}
.lsg-bundle-interval-select-pod-bottom {
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.lsg-bundle-interval-select-heading {
    color: #212121;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: .5rem;
}
.lsg-bundle-interval-frequency-select {
    margin: 0;
    border: 0;
    padding: 0;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    background: none;
    width: 100%;
}
.lsg-bundle-interval-frequency-select-wrap {
    position: relative;
    background: white;
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 0.75rem 2rem 0.75rem 0.75rem;
}
.lsg-bundle-interval-frequency-select-wrap:after {
    content: '';
    display: block;
    position: absolute;
    height: 9px;
    width: 16px;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    background-image: url("data:image/svg+xml;utf8,<svg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L7.84113 8L15 1' stroke='%23555555' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
}
.lsg-bundle-size-select-heading {
    color: #212121;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: .5rem;
}
.lsg-bundle-size-select {
    display: flex;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 100px;
}
.lsg-bundle-size-select-el {
    background: none;
    border: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    padding: 3px 8px;
    cursor: pointer;
    color: #555;
    text-transform: uppercase;
    flex-grow: 1;
    min-height: 2.5rem;
}
.lsg-bundle-size-select-el.lsg-bundle-size-select-el--selected {
    color: #fff;
    background: #555;
}
.lsg-bundle-size-select .lsg-bundle-size-select-el:not(:last-child) {
    border-right: 1px solid #ddd;
}
.lsg-bundle-size-select .lsg-bundle-size-select-el:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.lsg-bundle-size-select .lsg-bundle-size-select-el:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.bundle-builder__selected-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.bundle-builder__selected-product {
    width: calc((100% / 5) - (20px * 4 / 5));
    max-width: 90px;
    position: relative;
}
.bundle-builder__selected-product-img-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 100%;
}
.bundle-builder__selected-product-image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.bundle-builder__selected-product-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px dashed #555;
    background-color: #f1f1f1;
}
.bundle-builder__selected-product-placeholder:after,
.bundle-builder__selected-product-placeholder:before {
    content: '';
    width: calc(100% / 9);
    height: calc(100% / 45);
    background-color: #555;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bundle-builder__selected-product-placeholder:after {
    transform: translate(-50%, -50%) rotate(90deg);
}
.bundle-builder__selected-product.active .bundle-builder__selected-product-placeholder {
    display: none;
}
.bundle-builder__selected-product:not(.active) .bundle-builder__selected-product-image {
    display: none;
}
.bundle-builder__selected-product:not(.active) .bundle-builder__selected-product-remove-button {
    display: none;
}
.bundle-builder__selected-product-remove-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #555;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.bundle-builder__selected-product-remove-button:before,
.bundle-builder__selected-product-remove-button:after {
    content: '';
    display: block;
    width: 50%;
    height: 10%;
    background-color: currentColor;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.bundle-builder__selected-product-remove-button:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.bundle-builder__selected-product-remove-button:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.bundle-builder__selected-product-title {
    display: block;
    font-family: var(--font-head-font);
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
.bundle-builder__selected-product.active .bundle-builder__selected-product-title {
    margin-top: 20px;
}
.lsg-bundle-product-select-quantity-wrap {
    position: relative;
    background: white;
    border-radius: 100px;
    border: 1px solid #242424;
    color: #242424;
    height: 30px;
    display: flex;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.2;
}
.lsg-bundle-product-select-quantity-wrap:not(.no-quantity) .lsg-bundle-product-select-quantity-increment-add-text {
    display: none;
}
.lsg-bundle-product-select-quantity-increment {
    width: 30%;
    background: none;
    border: 0;
}
.lsg-bundle-product-select-quantity-increment svg path {
    stroke: currentColor;
}
.lsg-bundle-product-select-quantity-input-display {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    flex-shrink: 0;
    width: 40%;
}
.lsg-bundle-product-select-quantity-wrap.no-quantity .lsg-bundle-product-select-quantity-minus,
.lsg-bundle-product-select-quantity-wrap.no-quantity .lsg-bundle-product-select-quantity-input-display {
    display: none;
}
.lsg-bundle-product-select-quantity-wrap.no-quantity .lsg-bundle-product-select-quantity-plus {
    background: #242424;
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
    position: absolute;
    border-radius: 100px;
}
.lsg-bundle-product-select-quantity-wrap.no-quantity .lsg-bundle-product-select-quantity-plus:disabled {
    background-color: #f2f2f2;
    color: #212121;
}
.lsg-bundle-product-select-quantity-increment-add-text {
    text-transform: uppercase;
}
.lsg-bundle-buybox-description {
    color: #212121;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    gap: 20px;
}
.lsg-bundle-product-list,
.bundle-builder__selected-products {
    margin-top: 30px;
}
.bundle-builder__selected-products {
    margin-bottom: 20px;
}
.lsg-bundle-submit-button {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    display: block;
    padding: 12px 24px;
    color: #555;
    background-color: rgba(36, 36, 36, 0.3);
    border-radius: 100px;
    width: 100%;
    font-weight: bold;
}
.lsg-bundle-submit-button:not(.disabled) {
    background-color: #242424;
    color: white;
}
.lsg-bundle-sub-atc {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.79;
    text-align: center;
    color: #212121;
    font-weight: 400;
}
.lsg-bundle-block:not(.bundle-checkout-enabled) .lsg-bundle-interval-select {
    display: none;
}

/* Sticky Bar */
.lsg-bundle-sticky-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 16px;
    z-index: 998;
    transition: all .4s ease-in;
}
.lsg-bundle-block:not(.is-initialized) .lsg-bundle-sticky-bar {
    display: none;
}
.lsg-bundle-block.summary-is-below:not(.has-selected-product) .lsg-bundle-sticky-bar,
.lsg-bundle-block.summary-is-visible .lsg-bundle-sticky-bar,
.lsg-bundle-block.is-scroll-bottom .lsg-bundle-sticky-bar {
    opacity: 0;
    touch-action: none;
    pointer-events: none;
}
.lsg-bundle-block:not(.bundle-checkout-enabled) .lsg-bundle-sticky-selected-products,
.lsg-bundle-block:not(.bundle-checkout-enabled) .lsg-bundle-sticky-atc .lsg-bundle-sub-atc {
    display: none;
}
.lsg-bundle-sticky-inner {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: auto;
}
.lsg-bundle-sticky-bar .bundle-builder__selected-products {
    margin: 0;
    row-gap: 20px;
}
.lsg-bundle-sticky-summary-block .bundle-builder__selected-product.active .bundle-builder__selected-product-title {
    margin-top: 10px;
}
.lsg-bundle-sticky-bar .lsg-bundle-interval-select-inner {
    margin-bottom: 0;
}
.lsg-bundle-sticky-bar .lsg-bundle-interval-select-pod-bottom {
    margin-bottom: 0;
}
.lsg-bundle-sticky-bar .lsg-bundle-sub-atc {
    margin-top: 15px;
}

@media (max-width: 767px) {
    .lsg-bundle-block {
        flex-direction: column;
        padding: 20px 0 30px;
    }
    .lsg-bundle-gallery-block, .lsg-bundle-buybox-block, .lsg-bundle-summary-block {
        width: 100%;
    }
    .lsg-bundle-product-set-list {
        flex-wrap: wrap;
    }
    .lsg-bundle-product-select-wrapper {
        width: calc(50% - 10px);
    }
    .lsg-bundle-buybox-product-info {
        text-align: center;
    }
    .lsg-bundle-buybox-product-name {
        font-size: 30px;
        line-height: 1.33;
        margin-bottom: 10px;
    }
    .lsg-bundle-buybox-block {
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .lsg-bundle-product-select-wrapper {
        padding: 20px;
    }
    .lsg-bundle-product-select-title {
        font-size: 10px;
        line-height: 1.2;
    }
    .lsg-bundle-product-select-quantity-wrap {
        font-size: 12px;
    }
    .lsg-bundle-summary-block h1 {
        font-size: 20px;
        line-height: 1.15;
        margin-bottom: 0;
    }
    .lsg-bundle-summary-block .custom_price_display {
        font-size: 16px;
        line-height: 1.2;
    }
    .bundle-builder__selected-products {
        margin-top: 20px;
        gap: 10px;
        row-gap: 30px;
        margin-bottom: 30px;
    }
    .bundle-builder__selected-product {
        width: calc((100% / 5) - (10px * 4 / 5));
    }
    .bundle-builder__selected-product-title {
        font-size: 10px;
    }
    .lsg-bundle-interval-el {
        font-size: 12px;
        line-height: 1.55;
    }
    .lsg-bundle-interval-frequency-select {
        font-size: 12px;
    }

    /* Sticky Bar */
    .lsg-bundle-sticky-bar-frequency-select {
        display: none;
    }
}
@media (min-width: 768px) {
    .lsg-bundle-wrapper h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.1;
    }

    /* Sticky Bar */
    .lsg-bundle-sticky-inner {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    .lsg-bundle-block.summary-is-below .lsg-bundle-sticky-bar{
        opacity: 0;
        touch-action: none;
        pointer-events: none;
    }
    .lsg-bundle-sticky-bar .bundle-builder__selected-products {
        gap: 6px;
        flex-wrap: nowrap;
    }
    .lsg-bundle-sticky-summary-block .bundle-builder__selected-product-placeholder {
        border-width: 2px;
    }
    .lsg-bundle-sticky-bar .bundle-builder__selected-products .bundle-builder__selected-product {
        width: 36px;
    }
    .lsg-bundle-sticky-bar .bundle-builder__selected-product-remove-button {
        width: 14px;
        height: 14px;
    }
    .lsg-bundle-sticky-bar .bundle-builder__selected-products .bundle-builder__selected-product-title-wrap {
        display: none;
    }
    .lsg-bundle-sticky-bar .lsg-bundle-interval-select-pod-bottom {
        display: none;
    }
    .lsg-bundle-sticky-bar .lsg-bundle-sub-atc {
        display: none;
    }
    .lsg-bundle-sticky-bar .lsg-bundle-frequency-heading {
        display: none;
    }
    .lsg-bundle-sticky-bar .lsg-bundle-interval-el {
        padding-left: 30px;
        padding-right: 10px;
        font-size: 12px;
    }
    .lsg-bundle-sticky-bar .lsg-bundle-sticky-bar-frequency-select {
        border-left: 1px solid #555;
        padding-left: 10px;
    }
    .lsg-bundle-sticky-bar .lsg-bundle-sticky-bar-frequency-select .lsg-bundle-interval-select-heading {
        display: none;
    }
    .lsg-bundle-sticky-bar .lsg-bundle-interval-frequency-select-wrap {
        padding: 0.25rem 1.5rem 0.25rem 0.5rem;
    }
    .lsg-bundle-sticky-bar .lsg-bundle-interval-frequency-select {
        font-size: 12px;
    }
    .lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-sticky-bar-frequency-select .lsg-bundle-interval-frequency-select-wrap:after {
        width: 10px;
        height: 7px;
    }
    .lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-sticky-bar-frequency-select .lsg-bundle-interval-frequency-select {
        color: gray;
        pointer-events: none;
        touch-action: none;
    }
    .lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-sticky-bar-frequency-select .lsg-bundle-interval-select-heading {
        color: gray;
    }
    .lsg-bundle-sticky-bar .lsg-bundle-interval-select-pod-top {
        align-items: flex-start;
    }
    .lsg-bundle-sticky-bar .lsg-bundle-interval-el {
        gap: 10px;
    }
    .lsg-bundle-sticky-bar .lsg-bundle-interval-frequency-select {
        background: none;
    }
}